<nav>
  <div class="logo">
    <h2>Express Ecommerce</h2>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/products">Products</a></li>
    <%if(userId) {%>
    <!-- If user is logged in display -->
    <li><a href="/users/<%= userId%>">Hello, <%= name%></a></li>
    <li>
      <form action="/users/logout" method="POST">
        <button type="submit">Log Out</button>
      </form>
    </li>
    <%} else {%>
    <li><a href="/users/signin" class="account-button">Sign In</a></li>
    <li><a href="/users/create" class="account-button">Sign Up</a></li>
    <% } %>
  </ul>
</nav>
