/* Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background: hsla(0, 0%, 6%, 1);
	background: linear-gradient(
		45deg,
		hsla(0, 0%, 6%, 1) 0%,
		hsla(0, 0%, 27%, 1) 100%
	);
	background: -moz-linear-gradient(
		45deg,
		hsla(0, 0%, 6%, 1) 0%,
		hsla(0, 0%, 27%, 1) 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		hsla(0, 0%, 6%, 1) 0%,
		hsla(0, 0%, 27%, 1) 100%
	);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#444444', GradientType=1);
	min-height: 100vh;
	-webkit-filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#101010", endColorstr="#444444", GradientType=1);
	color: #f1f1f1;
	font-family: Arial, Helvetica, sans-serif;
	background: hsla(0, 0%, 6%, 1);
	background: linear-gradient(
		45deg,
		hsla(0, 0%, 6%, 1) 0%,
		hsla(0, 0%, 27%, 1) 100%
	);
	background: -moz-linear-gradient(
		45deg,
		hsla(0, 0%, 6%, 1) 0%,
		hsla(0, 0%, 27%, 1) 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		hsla(0, 0%, 6%, 1) 0%,
		hsla(0, 0%, 27%, 1) 100%
	);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#444444', GradientType=1);
	min-height: 100vh;
	-webkit-filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#101010", endColorstr="#444444", GradientType=1);
	color: #f1f1f1;
	font-family: Arial, Helvetica, sans-serif;
}

a,
a:visited {
	color: #f1f1f1;
}

/* NAVIGATION */

.mobile-nav {
	display: none;
}

.desktop-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.desktop-nav ul,
.mobile-nav ul {
	list-style-type: none;
	display: flex;
	margin: 25px 0;
}

.desktop-nav ul li,
.mobile-nav ul li {
	padding: 0 10px;
}

.desktop-nav ul li a:hover {
	color: #a3a3a3;
	text-decoration: underline;
}

.account-button {
	border: 2px solid #f1f1f1;
	padding: 10px;
	transition: all ease-in 0.2s;
}

.account-button:hover {
	border: 2px solid #a3a3a3;
	text-decoration: none;
}

.profile-menu .profile-hover {
	margin: 10px 0;
}

.profile-hover button:hover {
	background-color: #a3a3a3;
}

main,
.desktop-nav {
	width: calc(((20vw - 200px) * 3) + (207.5px * 4));
	margin: 0 auto;
}

.account-button:hover {
	border: 2px solid #a3a3a3;
	text-decoration: none;
}

/* for divs my css is shit feel free to change */
/* Products Index */
.products-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: calc(21vw * 4 + 25px);
	margin: 0 auto;
}

.products-header {
	width: calc(((20vw - 200px) * 3) + (207.5px * 4));
	margin: 10px auto;
}

.products-divider {
	width: calc(
		((20vw - 200px) * 3) + (207.5px * 4)
	); /* Sets width equal to four products*/
	height: 2px;
	background: #f1f1f1;
	margin: 0 auto;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20vw;
	height: 300px;

	margin: 5px;
	font-weight: 600;
}

.product .image {
	width: 200px;
	height: 200px;
	position: relative;
}
.product img {
	width: 200px;
	height: 200px;
}

.product .image:hover .image-overlay {
	opacity: 1;
}

.product .image-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0;
	left: 0;
	background-color: rgba(62, 0, 250, 0.8);
	transition: all 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product .image-overlay p {
	border: 2px solid #f1f1f1;
	border-radius: 50px;
	padding: 5px 10px;
}

.product section {
	margin-top: 10px;
	width: 200px;
	display: flex;
	justify-content: space-between;
}

/* Product Forms */
.product-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 80vh;
}

.product-form form {
	display: flex;
	flex-direction: column;
}

.product-form input,
.product-form button,
.product-form textarea {
	padding: 10px;
	margin-bottom: 10px;
}

.product-form textarea {
	resize: none;
	white-space: pre-wrap;
}

/* Users */

.users-container {
	display: flex;
	flex-direction: column;
}

/* User */

.user-container p {
	margin: 10px 0;
}

.users-container a,
.user-container a {
	margin: 10px 0;
	transition: color ease-in 0.2s;
	-webkit-transition: color ease-in 0.2s;
	-moz-transition: color ease-in 0.2s;
	-ms-transition: color ease-in 0.2s;
	-o-transition: color ease-in 0.2s;
}

.users-container a:hover,
.user-container a:hover {
	color: #a3a3a3;
}

/* Account Forms */

.account {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 80vh;
}

.account form {
	display: flex;
	flex-direction: column;
}

.account input,
.account button {
	padding: 10px;
	margin-bottom: 10px;
}

/* Media Queries */
@media only screen and (max-width: 1250px) {
	main,
	.desktop-nav,
	.products-header,
	.products-divider {
		width: calc(((20vw - 200px) * 2) + (207.5px * 3));
	}

	.products-container {
		width: calc(21vw * 3);
	}
}

@media only screen and (max-width: 1000px) {
	main,
	.desktop-nav,
	.products-header,
	.products-divider {
		width: 665px;
	}

	.products-container {
		justify-content: space-around;
		width: 700px;
	}
	.product {
		width: 200px;
		margin: 10px 15px;
	}
}

@media only screen and (max-width: 800px) {
	main,
	.desktop-nav,
	.products-header,
	.products-divider {
		width: 500px;
	}

	.products-container {
		width: 600px;
	}
	.product {
		width: 200px;
		margin: 10px 15px;
	}
}

@media only screen and (max-width: 600px) {
	main,
	.products-header,
	.products-divider {
		width: 500px;
	}

	/* Mobile Nav */
	.desktop-nav {
		display: none;
	}

	.mobile-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.products-container {
		margin-top: 10px;
		justify-content: center;
		width: 100vw;
	}

	.products-container img {
		width: 400px;
		height: 400px;
	}

	.product {
		width: 400px;
		height: 450px;
		margin: 10px 15px;
	}

	.product .image {
		width: 400px;
		height: 400px;
	}

	.product section {
		width: 400px;
	}
}
