/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: hsla(0, 0%, 6%, 1);
  background: linear-gradient(
    45deg,
    hsla(0, 0%, 6%, 1) 0%,
    hsla(0, 0%, 27%, 1) 100%
  );
  background: -moz-linear-gradient(
    45deg,
    hsla(0, 0%, 6%, 1) 0%,
    hsla(0, 0%, 27%, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    hsla(0, 0%, 6%, 1) 0%,
    hsla(0, 0%, 27%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#444444', GradientType=1);
  min-height: 100vh;
  -webkit-filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#101010", endColorstr="#444444", GradientType=1);
  color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

a,
a:visited {
  color: #f1f1f1;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 25px 0;
}

nav ul li {
  padding: 0 10px;
}

nav ul li a:hover {
  color: #a3a3a3;
  text-decoration: underline;
}

.account-button {
  border: 2px solid #f1f1f1;
  padding: 10px;
  transition: all ease-in 0.2s;
}

.account-button:hover {
  border: 2px solid #a3a3a3;
  text-decoration: none;
}

main,
nav {
  width: calc(((20vw - 200px) * 3) + (207.5px * 4));
  margin: 0 auto;
}

/* for divs my css is shit feel free to change */
/* Products Index */
.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: calc(21vw * 4 + 25px);
  margin: 0 auto;
}

.products-header {
  width: calc(((20vw - 200px) * 3) + (207.5px * 4));
  margin: 10px auto;
}

.products-divider {
  width: calc(
    ((20vw - 200px) * 3) + (207.5px * 4)
  ); /* Sets width equal to four products*/
  height: 2px;
  background: #f1f1f1;
  margin: 0 auto;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 300px;

  margin: 5px;
  font-weight: 600;
}

.product .image {
  width: 200px;
  height: 200px;
  position: relative;
}
.product img {
  width: 200px;
  height: 200px;
}

.product .image:hover .image-overlay {
  opacity: 1;
}

.product .image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: rgba(62, 0, 250, 0.8);
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .image-overlay p {
  border: 2px solid #f1f1f1;
  border-radius: 50px;
  padding: 5px 10px;
}

.product section {
  margin-top: 10px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

/* Account Forms */

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}

.account form {
  display: flex;
  flex-direction: column;
}

.account input,
.account button {
  padding: 10px;
  margin-bottom: 10px;
}
