<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/_head') %>

	<body>
		<%- include('../partials/_header') %>
		<main>
			<section class="users-container">
				<h1>Users</h1>
				<% if(users.length){ %> <% for(let user of users){ %>
				<a href="/users/<%= user._id %>"><%= user.email %> </a>
				<% } %> <% } else{ %>
				<h3>No users found</h3>
				<% } %>
			</section>
		</main>
	</body>
</html>
