<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/_head') %>

	<body>
		<%- include('../partials/_header') %>
		<main>
			<% if(admin){ %>

			<form
				action="/products/ %>"
				method="POST"
				class="product-form"
				enctype="multipart/form-data"
			>
				<section><h2>Add New Product</h2></section>
				<input type="text" name="name" placeholder="Name" />
				<input type="number" name="price" placeholder="Price" />
				<label>
					Category:
					<select name="category">
						<option value="Type One">Type One</option>
						<option value="Type Two">Type Two</option>
						<option value="Type Three">Type Three</option>
					</select>
				</label>
				<textarea
					type="text"
					name="description"
					placeholder="Description"
					rows="10"
					class="product-text"
				></textarea>
				<input type="file" name="img" />
				<input type="text" name="createdBy" value="<%=userId%>" hidden />
				<button type=" submit">Create Product</button>
			</form>
			<% } else { %>
			<h2>You do not have permission to create a product.</h2>
			<% } %>
		</main>
	</body>
</html>
